
body{
    margin:0px 20px;
    background-color: #fff;
}




/* .slds-table{
    border: 1px solid #DDDBDA ;
    border-top: none;
   
} */



.provus-bg_white{
    background-color: #fff !important;
}


.provus-text_bold{
    font-weight: bold;
}

.provus-bg_blue{
    background-color: #E5EFFD;
}

a{
    color: black;
    text-decoration: none;
}

.provus-border_bottom{
    border-bottom: 5px solid #DDDBDA;
}

.provus-border_top{
    border-top:1px solid #fff;
}

.provus-border_brown{
    border-top: 1px solid #DDDBDA;
}

.provus-bg_highlight{
    background-color: rgba(255, 179, 91, 0.53);
    
}

.provus-border_white{
    border-color: transparent;
}



.slds-hint-parent th:first-child {
    border-left: 1px solid #DDDBDA;
}
.slds-hint-parent td:last-child {
    border-right: 1px solid #DDDBDA;
}

.slds-table_bordered, .slds-table--bordered {
    border-top: 0;
}
.slds-table thead th { 
    border-right: 1px solid #DDDBDA;
}
.slds-hint-parent:hover .provus-bg_highlight {
    background-color:rgba(255, 179, 91, 0.53) !important ;
   
    
}




/* Tabs css */



.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
